<div class="row">


<div class='col-lg-2'></div>
<div class='col-lg-8'>



<div class="account-top">
  <h3>Sign up</h3>
  <div class="your-at col-md">

<div style="left: 90px; position: relative; padding-top: 25px;">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "form-horizontal"}) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group">
        <label class="ld_label col-sm-2" for="email" style='top: -11px;'>Name:</label>
        <div class="col-sm-6">
          <%= f.text_field :name, class: "form-control", placeholder: "Enter name", autofocus: true %>
        </div>
      </div>

      <div class="form-group">
        <label class="ld_label col-sm-2" for="email" style='top: -11px;'>Email:</label>
        <div class="col-sm-6">
          <%= f.email_field :email, class: "form-control", placeholder: "Enter email", autofocus: true %>
        </div>
      </div>


      <div class="form-group">
        <label class="ld_label col-sm-2" for="password" style="padding: none;">Password:</label>
        <div class="col-sm-6">
          <%= f.password_field :password, class: "form-control", placeholder: "Enter Password", autocomplete: "off" %>
        </div>
      </div>

      <!-- <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div> -->

      <div class="form-group">
        <label class="ld_label col-sm-2" for="password_confirmation" style='top: -9px;'>Password confirmation:</label>
        <div class="col-sm-6">
          <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Re-enter Password", autocomplete: "off" %>
        </div>
      </div>

      <div class="form-group">
        <label class="ld_label col-sm-2" for="password_confirmation" style='top: -9px;'>Photo:</label>
        <div class="col-sm-6">
          <%= f.file_field :image, class: "form-control"%>
        </div>
      </div>

      <!-- <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div> -->

      <div class="form-group">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-3">
          <%= f.submit "Sign up" %>
        </div>
      </div>

    <% end %>
</div>
    <!-- <div class="form-horizontal">
      <div class="form-group">
      <label class="ld_label col-sm-2" for="password">Have an account?</label>
      <div class="col-sm-3">
        <%= render "devise/shared/links" %>
      </div>
    </div>
    </div> -->

  </div>

</div>

</div>

</div>
