<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-md-8">
  	<h2>Your Ngos</h2>
  </div>
  <div class="col-md-4">
    <%= link_to 'Add New Ngo', new_ngo_path %>
  </div>
</div>

<br>
<div class="row">
  <div class="col-md-4">

    <div class="">
        <% @ngos.each do |ngo| %>
      <a href="#">
        <div class="row">
          <div class="top-at col-md-3">
            <img class="img-responsive" src="<%= ngo.logo.url %>" alt="">
          </div>
          <div class="top-at col-md-3">
            <%= ngo.name %>
          </div>
          <div class="top-at col-md-6">
              <%= ngo.city %>
              <span><%= ngo.details %></span>

          </div>
          <div class="clearfix"> </div>
      </div></a>
  <% end %>
    </div>


  </div>
</div>
