
      <!-- <div class="col-md-8 your">
        <p id='user_content' class="connect">
          <% if @ngos.present? %>
          <% @ngos.first.users.each do |user| %>
          <%= render 'user_list', :user => user, :ngo =>  @ngos.first %>
          <% end %>
          <% end %>
        </p>
      </div> -->


<div class="container">
  <div class="col-md-8">
    <h2> Ngos</h2>
  </div>
  <% if current_user %>
  <div class="col-md-4 top-women" style="background: none;" >
    <%= link_to 'Add New Ngo', new_ngo_path %>
  </div>
  <% end %>
</div>
</br>

<div class="container">
  <div class="">
    <% @ngos.each do |ngo| %>
    <div class="coffee col-md-4">
      <div class="coffee-top">
        <a href="#"><img class="img-responsive" src="<%= ngo.logo.url if ngo.logo %>" style="max-height: 200px; width: 100%;" alt="">
          <i style="background: url(<%= ngo.owner.image.url %>)"></i></a>
        </div>
        <div class="women-top-in">
          <div class="women-top">
            <h5><%= ngo.name %></h5>
            <p><b><%= ngo.city %></b></p>
            <div class="clearfix"> </div>
          </div>
          <p class="sit"><%= ngo.details %></p>
          <center></center>
        </div>
      </div>
      <% end %>
    </div>
  </div>
