<p id="notice"><%= notice %></p>

<p>
  <strong>Ngo:</strong>
  <%= @request.ngo_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @request.user_id %>
</p>

<p>
  <strong>Donation:</strong>
  <%= @request.donation_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @request.status %>
</p>

<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
