<div class='ld_form_lg'>
<%= form_for(@donation,html: {class: "form-horizontal"}) do |f| %>
  <% if @donation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@donation.errors.count, "error") %> prohibited this donation from being saved:</h2>

      <ul>
      <% @donation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <label class="ld_label col-sm-2" for="email">Name:</label>
    <div class="col-sm-6" style="color: none;">
      <%= f.text_field :name, class: "form-control", placeholder: "Enter Name", style: "color: #6E6363;" %>
    </div>
  </div>

  <div class="form-group">
    <label class="ld_label col-sm-2" for="email">Description:</label>
    <div class="col-sm-6">
      <%= f.text_area :description, class: "form-control", placeholder: "Enter Description"%>
    </div>
  </div>

  <div class="form-group">
    <label class="ld_label col-sm-2" for="email">Category:</label>
    <div class="col-sm-6" style="padding-top: 11px;">
      <%= f.select(:category, options_for_select([["Clothes", "Clothes"], ["Food", "Food"], ["Books", "Books"], ["Furniture", "Furniture"]]), {}, { :class => 'form-control' }) %>
    </div>
  </div>

  <div class="form-group" style="display:none">
    <label class="ld_label col-sm-2" for="email">Expiry:</label>
    <div class="col-sm-6">
      <%= f.datetime_select :expiry, {class: "form-control", style: "color: #6E6363;"}%>
    </div>
  </div>

  <div class="form-group">
    <label class="ld_label col-sm-2" for="email">Expiry:</label>
    <div class="col-sm-6">
      <%= text_field_tag "donation[expiry_clone_field]", nil, {class: "form-control datepicker",style: "color: #6E6363;"} %>
    </div>
  </div>

  <div class="form-group">
    <label class="ld_label col-sm-2" for="email">City:</label>
    <div class="col-sm-6">
      <%= f.text_field :city, {class: "form-control", style: "color: #6E6363;"}%>
    </div>
  </div>
  <%= f.hidden_field :user_id, {class: "form-control", value: current_user.present? ? current_user.id : nil} %>

  <div class="form-group">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-3">
      <%= f.submit class: 'btn' %>
    </div>
  </div>


<% end %>
</div>













		<!-- <div class="account-top">
							<h3>Register</h3>
							<div class="your-at">
							<div class="your-top-at">
									<form>
									<input placeholder="First Name" type="text">
									<input placeholder="Last Name" type="text">
									<input placeholder="User Name" type="text">
								<input placeholder="Email Id" type="text">
									<input placeholder="password" type="password">

								<input value="Register" type="submit">
								</form>
								<a class="news-letter" href="#">
						 <label class="checkbox"><input name="checkbox" checked="" type="checkbox"><i> </i>Remember Me</label>
					   </a>
								</div>
								<p class="connect-in">Connect with <a href="#">Facebook</a></p>
								<p class="connect-in">Connect with <a href="#">Twitter</a></p>
							</div>

						</div> -->
