
<div class="col-md-12">
<div class="col-md-2"></div>
<div class="col-md-8">
<div class="title-blue">
  <h4><a href="#"><%= @donation.name %></a></h4>
  <p><%= @donation.description %></p>
  <strong>City:</strong>
  <%= @donation.city %></br>
  <strong>Category:</strong>
  <%= @donation.category %>
  </div>
</div>
<div class="col-md-2"></div>
</div>

<div class="col-md-12 top-women" style="background: none;" >
  <center><%= link_to 'Back', donations_path %></center>
</div>
