<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @donation.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @donation.description %>
</p>

<p>
  <strong>Category:</strong>
  <%= @donation.category %>
</p>

<p>
  <strong>Expiry:</strong>
  <%= @donation.expiry %>
</p>

<p>
  <strong>City:</strong>
  <%= @donation.city %>
</p>

<p>
  <strong>User:</strong>
  <%= @donation.user_id %>
</p>

<%= link_to 'Edit', edit_donation_path(@donation) %> |
<%= link_to 'Back', donations_path %>
