<div class="row">


<div class='col-lg-2'></div>
<div class='col-lg-8'>

    <div class="account-top">
      <h3>Log in</h3>
      <div class="your-at col-md">
<div style="left: 90px; position: relative; padding-top: 25px;">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-horizontal'}) do |f| %>

        <div class="form-group">
          <label class="control-label col-sm-2" for="email">Email:</label>
          <div class="col-sm-6">
            <%= f.email_field :email, class: "form-control", placeholder: "Enter email", autofocus: true %>
          </div>
        </div>


        <div class="form-group">
          <label class="control-label col-sm-2" for="email">Password:</label>
          <div class="col-sm-6">
            <%= f.password_field :password, class: "form-control", placeholder: "Enter password", autocomplete: "off" %>
          </div>
        </div>

          <% if devise_mapping.rememberable? -%>

            <div class="form-group">
              <div class="col-sm-2"></div>
              <div class="col-sm-6">
                <%= f.check_box :remember_me %>
              <label class="control-label" for="email">Remember me</label>
              </div>
            </div>

          <% end -%>


          <div class="form-group">
            <div class="col-sm-2">
            </div>
            <div class="col-sm-3">
              <%= f.submit "Log in", class: 'btn' %>
            </div>
            <div class="col-sm-3">
              <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
                <%= link_to "Forgot your password?", new_password_path(resource_name), class: 'btn ld_button' %><br />
              <% end -%>
            </div>
          </div>

        <% end %>
</div>




      </div>

    </div>
</div>





</div>
